/* Elementos- Agrupadores */

body,
.containerLogo h2,
header#principal h3 {
  margin: 0;
}

header#principal {
  background-color: var(--corPrincipal);
  color: var(--corTextoClaro);
  display: flex;
  position: absolute;
  top: 0;

  align-items: center;
  text-align: center;
  width: 100%;
}

header#falso {
  background-color: var(--corPrincipal);
  height: var(--tamanhoHeader);
}

aside {
  background-color: var(--corPrincipalComplementar);
  color: var(--corTextoClaro);
  box-shadow: 8px 0px 8px var(--corSombraEscura);
  position: absolute;
  text-align: center;

  top: 0;
  width: var(--tamanhoAside);

  height: 100vh;
  margin-left: -384px;

  visibility: hidden;
  overflow: hidden;
}

aside nav {
  display: flex;
  flex-direction: row column;
  flex-wrap: wrap;

  border-radius: 16px;
  height: calc(100vh - var(--tamanhoHeader) - 18px);

  overflow: hidden;
  overflow-y: auto;
}

aside nav div {
  box-shadow: -2px 2px 4px var(--corSombraEscura);
  display: flex;

  align-items: center;
  font-size: calc(15px + 0.5vmin);

  width: 100%;
}

button {
  background-color: transparent;
  border: none;
}

/* Elementos- Texto */

aside nav a {
  color: var(--corTextoClaro);
  display: flex;
  flex-grow: 1;
  border-radius: 6px;

  width: max(152px, 40%);
  min-height: 40px;
  padding: 4px;
}

aside nav a:hover {
  background-color: var(--corPrincipalSelecao);
  transition-duration: 0.2s;
}

aside nav a.inativo,
aside nav a.inativo:hover {
  background-color: var(--corInativo);
  cursor: auto;
}

a {
  color: unset;
  text-decoration: none;
}

header#principal h3 {
  font-size: calc(0.8vmin + 18px);
  width: calc(100% - var(--tamanhoAside));
}

/* Classes */

.containerLogo {
  display: flex;
  align-items: center;
  text-align: center;

  font-size: calc(0.8vmin + 8px);
  width: var(--tamanhoAside);
  height: var(--tamanhoHeader);
}

.containerLogo button {
  box-shadow: 2px 0px 4px var(--corSombraEscura);
  height: 100%;
  padding: 8px 16px;

  cursor: pointer;

  /* border-radius: 50%;
  padding: 12px 8px;
  margin: 12px; */
}

.containerLogo button:hover {
  background-color: var(--corPrincipalSelecao);
  transition-duration: 0.2s;
}

/* Ids */

#cabecalhoFixo {
  position: sticky;
  top: 0;
}

/* Imagens  */

.icone {
  width: 25px;
  height: 25px;
  margin: 0px 8px;
}

.icone#info {
  width: 22px;
  height: 22px;
}

.logo {
  box-shadow: -4px -2px 4px var(--corSombraEscura);
  border-radius: 50%;

  width: calc(var(--tamanhoHeader) - 16px);
  height: calc(var(--tamanhoHeader) - 16px);
  margin: 0px 16px 0px 12px;
}

.iconMenu {
  width: 44px;
  height: 33px;
}

/* Especiais */

@media screen and (max-width: 832px) {
  header#principal h3 {
    display: none;
  }
}
