:root {
  --corPrincipal: rgba(15, 10, 60, 0.9);
  --corPrincipalComplementar: rgba(30, 20, 85, 0.985);
  --corPrincipalSelecao: rgba(44, 129, 194, 0.75);

  --corSecundaria: rgb(142, 157, 204);
  --corTerciaria: rgba(189, 189, 230, 0.8);

  --corQuartenaria: rgb(125, 132, 178);
  --corQuartenariaSelecao: rgb(107, 129, 174);

  --corQuintenaria: rgb(217, 219, 241);
  --corQuintenariaSelecao: rgb(245, 248, 255);

  --corSombraClara: rgba(7, 21, 32, 0.2);
  --corSombraEscura: rgba(0, 5, 10, 0.2);
  --corBorda: rgba(50, 65, 80, 0.3);

  --corTextoEscuroPrincipal: rgb(0, 0, 0);
  --corTextoEscuroSecundario: rgba(0, 0, 0, 0.7);
  --corTextoClaro: rgb(255, 255, 255);

  --corContrateClaro: rgb(245, 250, 255);

  --corInativo: rgba(50, 50, 70, 0.9)
}

:root {
  --tamanhoAside: clamp(24vw, 384px, 100vw);
  --tamanhoHeader: clamp(80px, calc(14vmin + 16px), 96px);
  --borderRadius: 14px;
}
