@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto+Mono&display=swap');

section {
  width: 82.5%;
}

section p {
  min-height: 120px;
}

section strong {
  margin-bottom: 9px;
}

.indentado {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: 'Roboto Mono', monospace;
}

